<div class="password-container">
<mat-form-field appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [type]="isVisible ? 'text' : 'password'"
    [id]="inputId"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [value]="value"
    (input)="onInputChange($event)"
  />
  <!-- <mat-error *ngIf="control && control.invalid && (control.touched || control.dirty)">
  {{ control.errors | validationError }}
  </mat-error> -->
  <mat-hint floatLabel="auto" *ngIf="hint">{{ hint }}</mat-hint>
</mat-form-field>

  <button
    mat-icon-button
    matSuffix
    *ngIf="withToggle"
    mat-button
    type="button"
    (click)="toggleVisibility()"
  >
    <mat-icon aria-label="Toggle password visibility">
      {{ isVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
</div>  