<mat-form-field appearance="outline" floatLabel="auto" hintLabel="Min 8 characters">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [type]="isVisible ? 'text' : 'password'"
    [id]="inputId"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [value]="value"
    (input)="onInputChange($event)"
    
  />
  <button
    mat-icon-button
    matSuffix
    type="button"
    (click)="toggleVisibility()"
    aria-label="Toggle password visibility"
  >
    <mat-icon>{{ isVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
</mat-form-field>
  