.password-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.password-container input {
  width: 100%;
  padding-right: 20px;
  box-sizing: border-box;
}

.password-container .toggle-visibility {
  position: absolute;
  right: 15px;
  top: 15px; 
  background: transparent;
  border: none;
  cursor: pointer;
}
