.password-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
}

.toggle-visibility {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}


.password-container input {
  width: 100%;
  padding-right: 20px;
  box-sizing: border-box;
}
