<div class="password-container">
<mat-form-field appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [type]="isVisible ? 'text' : 'password'"
    [id]="inputId"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [value]="value"
    (input)="onInputChange($event)"
  />
  <mat-hint floatLabel="auto" *ngIf="hint">{{ hint }}</mat-hint>
</mat-form-field>

  <button type="button" class="toggle-visibility" (click)="toggleVisibility()">
    <mat-icon aria-label="Toggle password visibility">
      {{ isVisible ? 'visibility_off' : 'visibility' }}
    </mat-icon>
  </button>
</div>