@use '../../../../scss/custom-theme.scss' as *;
.navbar {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: $primary-10;
}

.logo {
  height: 60px;
  margin-right: 1rem;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

app-button {
  margin-left: 0.75rem;
}

.welcome-msg {
  margin-left: 1rem;
  font-weight: 500;
  font-size: 0.9rem;
  white-space: nowrap;
  color: white;
}

app-button:hover {
  opacity: 0.9;
  cursor: pointer;
}

@media (max-width: 600px) {
  .navbar {
    flex-wrap: wrap;
    height: auto;
    padding: 0.5rem;
  }

  app-button {
    margin: 0.5rem 0.5rem 0 0;
  }

  .welcome-msg {
    width: 100%;
    margin-left: 0;
    margin-top: 0.5rem;
    text-align: center;
  }
}
