/* Navbar styles */
.navbar {
  background-color: white; /* Use Material primary color */
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.brand-name {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.spacer {
  flex-grow: 1;
}

.mat-button {
  color: white;
  font-size: 14px;
}

.mat-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
