:host {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  overflow: hidden;
  padding: 10px;
}

.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
}

h2 {
  padding: 10px 20px 0px 20px;
}
