.hero {
    background: #f0f0f0;
    color: #02152e;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero-content {
    max-width: 600px;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .cta-button {
    background-color: #f5c12f;
    color: #02152e;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #02152e;
    color: #f5c12f;
  }

  .features {
    background-color: #02152e;
    padding: 60px 50px;
    text-align: center;
  }
  
  .features h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #f5c12f;
  }
  
  .feature-cards {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  
  .feature-card {
    background-color: #031e41;
    color: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .feature-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .feature-card p {
    font-size: 1rem;
  }
  
  