.footer {
    background-color: #02152e;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-links a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
  }
  
  .footer-links a:hover {
    color: #f5c12f;
  }