<div class="confirmation-container" *ngIf="confirmationStatus === 'pending'">
  <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
  <p class="message">Confirming your email...</p>
</div>

<div class="confirmation-container info" *ngIf="confirmationStatus === 'alreadyConfirmed'">
  <mat-icon color="gray">info</mat-icon>
  <p class="message">Your email was already confirmed.</p>
  <app-button routerLink="/user/login" text="Login"></app-button>
</div>

<div class="confirmation-container success" *ngIf="confirmationStatus === 'success'">
  <mat-icon color="primary" class="icon">check_circle</mat-icon>
  <p class="message">Your email has been confirmed!</p>
  <app-button routerLink="/user/login" text="Login"></app-button>
</div>

<div class="confirmation-container error" *ngIf="confirmationStatus === 'error'">
  <mat-icon>error</mat-icon>
  <p class="message">Email confirmation failed.</p>
  <app-button
    *ngIf="resendStatus !== 'sent'"
    (click)="resendEmailConfirmation()"
    [text]="resendStatus === 'sending' ? 'Resending...' : 'Resend Email'"
    [disabled]="resendStatus === 'sending'">
  </app-button>
</div>
