<div class="register-container">
<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <div class="form-field">
  <app-input
    type="email"
    placeholder="Email"
    inputId="email"
    label="Email Address"
    formControlName="email"
    inputIcon="email"
  ></app-input>
    <mat-error *ngIf="registerForm.controls.email.invalid && (registerForm.controls.email.dirty || registerForm.controls.email.touched)">
      {{ registerForm.controls.email.errors | validationError }}
    </mat-error>
  </div>

  <div class="form-field">
  <app-input
    type="firstName"
    placeholder="First Name"
    inputId="firstName"
    label="First Name"
    formControlName="firstName"
  ></app-input>
    <mat-error *ngIf="registerForm.controls.firstName.invalid && (registerForm.controls.firstName.dirty || registerForm.controls.firstName.touched)">
      {{ registerForm.controls.firstName.errors | validationError }}
    </mat-error>
  </div>

  <div class="form-field">
  <app-input
    type="lastName"
    placeholder="Last Name"
    inputId="lastName"
    label="Last Name"
    formControlName="lastName"
  ></app-input>
    <mat-error *ngIf="registerForm.controls.lastName.invalid && (registerForm.controls.lastName.dirty || registerForm.controls.lastName.touched)">
      {{ registerForm.controls.lastName.errors | validationError }}
    </mat-error>
  </div>

  <div class="form-field">
  <app-password-input
    type="password"
    placeholder="Password"
    inputId="password"
    label="Password"
    [withToggle]="true"
    formControlName="password"
  ></app-password-input>
  <mat-error *ngIf="registerForm.controls.password.invalid && (registerForm.controls.password.dirty || registerForm.controls.password.touched)">
    <ul class="mat-error-list">
      <li *ngIf="passwordControl?.errors?.['required']">Password is required.</li>
      <li *ngIf="passwordControl?.errors?.['minlength']">At least 8 characters.</li>
      <li *ngIf="passwordControl?.errors?.['uppercase']">Must contain an uppercase letter.</li>
      <li *ngIf="passwordControl?.errors?.['lowercase']">Must contain a lowercase letter.</li>
      <li *ngIf="passwordControl?.errors?.['digit']">Must contain a number.</li>
    </ul>
  </mat-error>
  </div>

  <div class="form-field">
  <app-password-input
    type="password"
    placeholder="Confirm Password"
    inputId="confirmPassword"
    label="Confirm Password"
    formControlName="confirmPassword"
  ></app-password-input>
    <mat-error *ngIf="registerForm.controls.confirmPassword.invalid && (registerForm.controls.confirmPassword.dirty || registerForm.controls.confirmPassword.touched)">
    <ul class="mat-error-list">
      <li *ngIf="confirmPasswordControl?.errors?.['required']">Password is required.</li>
      <li *ngIf="confirmPasswordControl?.errors?.['minlength']">At least 8 characters.</li>
      <li *ngIf="confirmPasswordControl?.errors?.['uppercase']">Must contain an uppercase letter.</li>
      <li *ngIf="confirmPasswordControl?.errors?.['lowercase']">Must contain a lowercase letter.</li>
      <li *ngIf="confirmPasswordControl?.errors?.['digit']">Must contain a number.</li>
      <li *ngIf="confirmPasswordControl?.errors?.['fieldsMismatch']">Password and confirmation<br> should match.</li>
    </ul>
  </mat-error>
  </div>

  <div class="form-field">
    <app-select
      label="Employment status"
      selectId="statusSelect"
      [options]="employmentOptions"
      [disabled]="false"
      formControlName="employmentStatus">
    </app-select>
  </div>

  <div class="form-field">
    <app-chip-list
      [label]="'Job Types'"
      [options]="jobTypes"
      formControlName="jobTypes"
    >
    </app-chip-list>
  </div>

  <div >
  <app-button
    class="register-button"
    type="submit"
    text="Register"
    >
  </app-button>
  </div>
</form>
</div>