<div class="form-container">
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <app-input
    type="email"
    placeholder="Email"
    inputId="email"
    label="Email Address"
    formControlName="email"
  ></app-input>

  <app-input
    type="firstName"
    placeholder="First Name"
    inputId="email"
    label="First Name"
    formControlName="firstName"
  ></app-input>

  <app-input
    type="lastName"
    placeholder="Last Name"
    inputId="lastName"
    label="Last Name"
    formControlName="lastName"
  ></app-input>

  <app-input
    type="password"
    placeholder="Password"
    inputId="password"
    label="Password"
  ></app-input>

  <app-input
    type="confirmPassword"
    placeholder="Confirm Password"
    inputId="confirmPassword"
    label="Confirm Password"
    formControlName="confirmPassword"
  ></app-input>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Employment Status</mat-label>
    <mat-select formControlName="employmentStatus" id="selectEmploymentOptions">
      @for (option of employmentOptions; track option) {
        <mat-option [value]="option.value">{{ option.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <app-button
    type="submit"
    text="Register"
    [disabled]="!registerForm.valid"
    (onClick)="onSubmit()">
  </app-button>
</form>
</div>