<div class="profile-container">
<section class="profile-details">
  <h1>User Profile</h1>
  <div class="form-field">
    <app-input
        type="email"
        label="Email"
        inputId="email"
        [value]="userData?.email"
        [disabled]="true"
    ></app-input>
    </div>  
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="form-field">
    <app-input
        type="text"
        label="First Name"
        inputId="firstName"
        formControlName="firstName"
        [placeholder]="userData?.firstName ?? 'First Name'"
    ></app-input>
    <mat-error *ngIf="profileForm.controls.firstName.invalid && (profileForm.controls.firstName.dirty || profileForm.controls.firstName.touched)">
      {{ profileForm.controls.firstName.errors | validationError }}
    </mat-error>
</div>
  <div class="form-field">
    <app-input
        type="text"
        label="Last Name"
        inputId="lastName"
        formControlName="lastName"
        [placeholder]="userData?.lastName ?? 'Last Name'"
    ></app-input>
    <mat-error *ngIf="profileForm.controls.lastName.invalid && (profileForm.controls.lastName.dirty || profileForm.controls.lastName.touched)">
      {{ profileForm.controls.lastName.errors | validationError }}
    </mat-error>
</div>
  <div class="form-field">
    <app-select
      selectId="statusSelect"
      label="Employment Status"
      [options]="employmentOptions"
      formControlName="employmentStatus">
    </app-select>
    </div>
  <div class="form-field">
  <app-chip-list *ngIf="(isAdmin$ | async) === false"
    [label]="'Job Types'"
    [options]="jobTypes"
    formControlName="jobTypes"
  >
  </app-chip-list>
  </div>
  <app-button
      class="form-field"
      text="Save Changes"
      type="submit"
      [disabled]="!profileForm.valid">
  </app-button>
  </form>
  </section>
  <section class="resume-upload" *ngIf="(isAdmin$ | async) === false">
    <app-resume-upload [userId]="userId"></app-resume-upload>
  </section>
</div>