
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;            
  margin-bottom: 16px;
  width: 100%;
  gap: 20px;
}

.page-title{
  font-weight: 300;
  padding-bottom: 20px;
  margin-right: 10px;
  color: var(--app-dark-blue);
}

.sortToggle {
  padding-left: 20px;
  padding-bottom: 20px;
}

.candidate-results {
  padding: 30px;
  max-width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
}

.candidate-list-container {
  padding: 1rem;
}

.candidate-cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.load-more-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

:host .load-more-button {
  --button-color: var(--app-dark-blue);
  --button-background: var(--app-yellow);
  cursor: pointer;
}

:host .load-more-button:hover{
  --button-color: var(--app-yellow);
  --button-background: var(--app-dark-blue);
  cursor: pointer;
}

.load-more-button[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.empty-state,
.end-of-results {
  text-align: center;
  margin-top: 2rem;
  color: #666;
}

.sort-bar {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .candidate-results {
    padding: 15px;
  }
}

@media (max-width: 600px) {
  .candidate-results {
    padding: 0 16px;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin: 0;
  }

  .page-title {
    font-weight: 400;
    font-size: 1.5rem;
    padding: 40px 10px 10px;
  }

  .sort-bar {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left: 16px;
  }

  app-select.full-width {
    width: 100%;
  }

  .sortToggle {
    width: 100%;
    justify-content: center;
  }

  .candidate-list-container {
    display: flex;
    flex-direction: column;
  }

  .load-more-button{
    padding: 10px;
  }
}

