<h2 class="page-title">Candidate Matches</h2>
<div class="sort-bar">
  <app-select
    [options]="sortOptions"
    [(ngModel)]="sortField"
    label="Select a field"
    class="full-width"
    (ngModelChange)="onSortFieldChange()"
  ></app-select>

  <app-button
    icon="{{ sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward' }}"
    (click)="toggleSortOrder()"
    matTooltip="Toggle sort order"
    text="{{ sortOrder === 'asc' ? 'Ascending order' : 'Descending order' }}"
  >
  </app-button>
</div>

<div class="candidate-list-container">
  <div class="candidate-cards-wrapper">
    <app-candidate-card
      *ngFor="let user of usersList"
      [assessedUserInfo]="user"
    ></app-candidate-card>
  </div>

  <div class="load-more-container" *ngIf="usersList.length > 0 && !(noMoreResults)">
    <app-button 
      (click)="fetchNextBatch()" 
      [disabled]="!!(loading$ | async)" 
      class="load-more-button"
      [text]="(loading$ | async) ? 'Loading...' : 'Load More'"
      >
    </app-button>
  </div>

  <div *ngIf="!loading$ && usersList.length === 0 && noMoreResults" class="empty-state">
    <p>No candidates were matched.</p>
  </div>

  <div *ngIf="noMoreResults && usersList.length > 0" class="end-of-results">
    <p>No more results.</p>
  </div>
</div>
