<div class="candidate-results" [ngClass]="{ 'no-results-state': (loading$ | async) === false && usersList.length === 0 }">
  <div class="header-container">
    <h1 class="page-title" [class.hidden]="(loading$ | async)">Candidate Matches</h1>
    <div class="sort-bar" [class.hidden]=" (loading$ | async) && usersList.length === 0">
      <app-select
        [options]="sortOptions"
        [(ngModel)]="sortField"
        label="Select a field"
        class="full-width"
        (ngModelChange)="onSortFieldChange()"
      ></app-select>

      <app-button
        icon="{{ sortOrder === 'asc' ? 'arrow_upward' : 'arrow_downward' }}"
        (click)="toggleSortOrder()"
        variant="raised"
        class="sortToggle"
        matTooltip="Toggle sort order"
        text="{{ sortOrder === 'asc' ? 'Ascending' : 'Descending' }}"
      >
      </app-button>
    </div>
  </div>

<div class="candidate-list-container">
  <div class="candidate-cards-wrapper">
    <app-candidate-card
      *ngFor="let user of usersList"
      [assessedUserInfo]="user"
    ></app-candidate-card>
  </div>

  <div class="load-more-container" *ngIf="usersList.length > 0 && !(noMoreResults)">
    <app-button 
      variant="flat"
      (click)="fetchNextBatch()" 
      [disabled]="!!(loading$ | async)" 
      class="load-more-button"
      [text]="(loading$ | async) ? 'Loading...' : 'Load More'"
      >
    </app-button>
  </div>

  <div *ngIf="(loading$ | async) === false && usersList.length === 0" class="empty-state">
    <p>No candidates were matched.</p>
    <app-button
      text="Go to Job Profile"
      variant="raised"
      icon="arrow_back"
      (click)="goToJobProfile()"
    ></app-button>
  </div>


  <div *ngIf="noMoreResults && usersList.length > 0" class="end-of-results">
    <p>No more results.</p>
  </div>
</div>
</div>  