<mat-toolbar class="navbar">
  <img src="assets/logo.png" alt="Logo" class="logo" (click)="goHome()" />

  <span class="spacer"></span>

  <button class="nav-button" (click)="goHome()">Home</button>
    <div class="nav-divider"></div>
  <ng-container *ngIf="!isLoggedIn">
    <button class="nav-button" routerLink="/user/register">Register</button>
    <div class="nav-divider"></div>

    <button class="nav-button" routerLink="/user/login">Login</button>
  </ng-container>
    <div class="nav-divider"></div>

  <ng-container *ngIf="isLoggedIn">
    <button class="nav-button" [routerLink]="['/user/profile', currentUser?.id]">Profile</button>
    <div class="nav-divider"></div>
    <button class="nav-button"  routerLink="/admin/job-profile" *ngIf="isAdmin$">Find Matches</button>
    <div class="nav-divider"></div>
    <button class="nav-button" (click)="onLogout()">Logout</button>
    <span class="welcome-msg">Welcome {{ currentUser?.firstName }}!</span>
  </ng-container>
</mat-toolbar>
