<mat-card class="user-card">
  <div class="card-content">
    <div class="user-details">
      <h3>{{ assessedUserInfo.firstName }} {{ assessedUserInfo.lastName }}</h3>
      <p>Email: {{ assessedUserInfo.email }}</p>
      <p>Match: {{ assessedUserInfo.matchPercentage }}%</p>
    </div>
    <div class="action-buttons">
      <app-resume-preview [userId]="assessedUserInfo.userId"></app-resume-preview>
      <app-button text="Download" class="download-button" icon="download" (click)="onDownload()"></app-button>
    </div>
  </div>
</mat-card>