@use 'sass:map';
@use '@angular/material' as mat;
@use './scss_theme-colors' as colorTheme;

$my-typography: (
  plain-family: 'Inter',
  regular-weight: 400,
  medium-weight: 500,
  bold-weight: 700,
);

$my-theme: mat.define-theme((
  color: (
    primary: colorTheme.$primary-palette,
    tertiary: colorTheme.$tertiary-palette,
  ),
  typography: $my-typography,
));

$primary-10: mat.get-theme-color($my-theme, primary, 10);
$primary-20: mat.get-theme-color($my-theme, primary, 20);
$primary-30: mat.get-theme-color($my-theme, primary, 30);
$primary-40: mat.get-theme-color($my-theme, primary, 40);
$primary-50: mat.get-theme-color($my-theme, primary, 50);
$primary-60: mat.get-theme-color($my-theme, primary, 60);
$primary-70: mat.get-theme-color($my-theme, primary, 70);
$primary-80: mat.get-theme-color($my-theme, primary, 80);
$primary-90: mat.get-theme-color($my-theme, primary, 90);
$primary-95: mat.get-theme-color($my-theme, primary, 95);
$primary-98: mat.get-theme-color($my-theme, primary, 98);
$primary-99: mat.get-theme-color($my-theme, primary, 99);
$primary-100: mat.get-theme-color($my-theme, primary, 100);

$tertiary-10: mat.get-theme-color($my-theme, tertiary, 10);
$tertiary-20: mat.get-theme-color($my-theme, tertiary, 20);
$tertiary-30: mat.get-theme-color($my-theme, tertiary, 30);
$tertiary-40: mat.get-theme-color($my-theme, tertiary, 40);
$tertiary-50: mat.get-theme-color($my-theme, tertiary, 50);
$tertiary-60: mat.get-theme-color($my-theme, tertiary, 60);
$tertiary-70: mat.get-theme-color($my-theme, tertiary, 70);
$tertiary-80: mat.get-theme-color($my-theme, tertiary, 80);
$tertiary-90: mat.get-theme-color($my-theme, tertiary, 90);
$tertiary-95: mat.get-theme-color($my-theme, tertiary, 95);
$tertiary-98: mat.get-theme-color($my-theme, tertiary, 98);
$tertiary-99: mat.get-theme-color($my-theme, tertiary, 99);
$tertiary-100: mat.get-theme-color($my-theme, tertiary, 100);