<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <app-input
      type="email"
      placeholder="Email"
      inputId="email"
      label="Email Address"
      formControlName="email"
    ></app-input>
  </div>

  <div class="form-row">
    <app-input
      type="password"
      placeholder="Password"
      inputId="password"
      label="Password"
    ></app-input>
  </div>

  <div class="form-row">
  <app-button
    type="submit"
    text="Login"
    [disabled]="!loginForm.valid"
    (onClick)="onSubmit()">
  </app-button>
  </div>
</form>
