<h1>Add your CV</h1>

<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
  <app-drag-drop
    [file]="selectedFile"
    [fileMetadata]="fileMetadata"
    [disabled]="!!selectedFile || !!fileMetadata"
    (fileAdded)="onFileReceived($event)"
    (fileRemoved)="onFileRemoved()"
    (downloadRequested)="onDownload()"
  ></app-drag-drop>

  <div class="button-group" *ngIf="selectedFile || fileMetadata">
    <app-button text="Upload" (click)="onSubmit()" *ngIf="selectedFile && !fileMetadata"></app-button>
    <app-button text="Remove" (click)="onFileRemoved()"></app-button>
  </div>
</form>
