<h2>Add your CV</h2>

<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
  <app-drag-drop
    [file]="selectedFile"
    [fileMetadata]="fileMetadata"
    [disabled]="!!selectedFile || !!fileMetadata"
    (fileAdded)="onFileReceived($event)"
    (fileRemoved)="onFileRemoved()"
    (downloadRequested)="onDownload()"
  ></app-drag-drop>

  <div class="btn-group" *ngIf="selectedFile || fileMetadata">
    <app-button variant="flat" text="Upload" (click)="onSubmit()" [disabled]="uploadDisabled"></app-button>
    <app-button variant="flat" text="Remove" (click)="onFileRemoved()"></app-button>
  </div>
</form>
