<div
  class="drag-drop-area"
  [class.disabled]="disabled"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onFileDrop($event)"
  (click)="!file && !disabled ? fileInput.click() : $event.preventDefault()"
>
  <p *ngIf="(!file && !fileMetadata)">Drag and drop a PDF file here, or click to select.</p>
  <div >
    <app-file-info *ngIf="file" [file]="file"></app-file-info>
    <app-file-info *ngIf="!file && fileMetadata" [fileMetadata]="fileMetadata"></app-file-info>
    <app-button *ngIf="file || fileMetadata" text="Download" class="download-button" icon="download" (click)="onDownloadClick()"></app-button>
  </div>
  <input
    #fileInput
    type="file"
    (change)="onFileSelect($event)"
    style="display: none"
  />
</div>
