<div
  class="drag-drop-area"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onFileDrop($event)"
  (click)="!file && fileInput.click()"
>
  <p *ngIf="(!file && !fileMetadata) || !file">Drag and drop a PDF file here, or click to select.</p>

  <div *ngIf="file">
    <app-file-info [file]="file"></app-file-info>
    <app-button text="Download" class="download-button" icon="download" (click)="onDownloadClick()"></app-button>
  </div>

  <div *ngIf="!file && fileMetadata">
    <app-file-info [fileMetadata]="fileMetadata"></app-file-info>
    <app-button text="Download" class="download-button" icon="download" (click)="onDownloadClick()"></app-button>
  </div>

  <input
    #fileInput
    type="file"
    (change)="onFileSelect($event)"
    style="display: none"
  />
</div>
