<ng-container [ngSwitch]="variant">
  <button [ngStyle]="{ 'background-color': 'var(--button-background)', 'color': 'var(--button-color)' }" *ngSwitchCase="'raised'" mat-raised-button
    [type]="type"
    [ngClass]="btnClass"
    [disabled]="disabled"
    [routerLink]="routerLink"
    (click)="emitEvent()"
  >
    <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
    <span *ngIf="text">{{ text }}</span>
  </button>

  <button [ngStyle]="{ 'border-color': 'var(--button-color)', 'color': 'var(--button-color)' }" *ngSwitchCase="'stroked'" mat-stroked-button
    [type]="type"
    [ngClass]="btnClass"
    [disabled]="disabled"
    [routerLink]="routerLink"
    (click)="emitEvent()"
  >
    <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
    <span *ngIf="text">{{ text }}</span>
  </button>

  <button [ngStyle]="{ 'background-color': 'var(--button-background)', 'color': 'var(--button-color)' }" *ngSwitchCase="'flat'" mat-flat-button
    [type]="type"
    [ngClass]="btnClass"
    [disabled]="disabled"
    [routerLink]="routerLink"
    (click)="emitEvent()"
  >
    <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
    <span *ngIf="text">{{ text }}</span>
  </button>

  <button [ngStyle]="{ color: 'var(--button-color)' }" *ngSwitchCase="'icon'" mat-icon-button
    [type]="type"
    [ngClass]="btnClass"
    [disabled]="disabled"
    [routerLink]="routerLink"
    (click)="emitEvent()"
  >
    <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
  </button>

  <button [ngStyle]="{ color: 'var(--button-color)' }" *ngSwitchDefault mat-button
    [type]="type"
    [ngClass]="btnClass"
    [disabled]="disabled"
    [routerLink]="routerLink"
    (click)="emitEvent()"
  >
    <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
    <span *ngIf="text">{{ text }}</span>
  </button>
</ng-container>
